.header {
  img-align: right;
  background: white;
  max-height: 200px;
  max-width: 1068px;
}
.tab {
  margin-left: 40px; font-size: 12px;
}
p {
font-family: 'Roboto', sans-serif; font-size: 16px;
}
h1 {
font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 48px;
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}

